* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #212353
}

h2 {
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #212353
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #212353
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: #4B5D68
    letter-spacing: 0.01em;
}



.button-text {
    display: block;
    margin: 0 10px 0 auto;
    width: 105px;
    font-size: 12px;
    letter-spacing: 0.01em;
    font-weight: 700;
    background-image: url(./assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: right;

}

.request-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 5px;
    width: 130px;
    height: 45px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 200px;
    transition: opacity 250ms ease-in-out;
}

.request-button:hover {
    opacity: 0.5;
}

.fill-button {
    display: block;
    width: 119px;
    height: 42px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    border-radius: 200px;
    background-color: #9C69E2;
    transition: opacity 250ms ease-in-out;
}

.fill-button:hover {
    opacity: 0.5;
}




/* Landing Section */
.landing {
    padding-top: 10px;
    width: 100%;
    height: 100vh;
}

.landing-banner {
    display: flex;
    align-items: center;
}

.landing-banner-text {
    font-size: 14px;
    margin-right: 15px;
}

.landing-banner a:first-of-type {
    font-weight: 700;
}

.landing-banner a:last-of-type {
    margin-right: 0;
}

.banner-image {
    width: 25px;
    height: auto;
    margin-right: 15px;
}

.landing .request-button {
    display: none;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
}

.landing-title {
    text-align: center;
    margin-bottom:30px;
}

.landing-desc {
    text-align: center;
    margin-bottom: 30px;
}


.landing-image{
    display: none;
}

/* Service Section */
.service{
    padding: 100px 0;
    background-color: rgba(240, 99, 184, 0.15);
}


.service-image img {
    display: none;
}


.service-title {
    margin-bottom: 30px;
}



/* Features Section */
.features {
    padding: 80px 0;
}

.features-title {
    margin-bottom: 30px;
    text-align: center;
}

.features-desc {
    text-align: center;
    margin-bottom: 100px;
}




.features-card {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.features .col-md-6:last-child .features-card{
    margin-bottom: 0;
}

.features-card-content {
    height: 330px;
    padding: 75px 15px 25px;
    border-radius: 25px;
    background-color: rgba(104,201,186,0.1)
    
}

.features .col-md-6:nth-child(2) .features-card-content {
    background-color: rgba(156,105,226,0.1);
}

.features .col-md-6:nth-child(3) .features-card-content {
    background-color: rgba(240,99,184,0.1);
}

.features .col-md-6:last-child .features-card-content {
    background-color: rgba(45,156,219,0.1);
}

.features-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
    width: auto;
    height: 150px;
}



.features-card-title {
    text-align: center;
    margin-bottom: 30px;
}

.features-card-desc {
    height: 130px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

/* Testimonials Section */
.testimonials .col-12{
    padding-top: 60px;
    background-color: #9C69E2;
    border-radius: 5px;
    overflow: hidden;
}

.testimonials-title {
    margin-left: 10px;
    color: #fff;
    margin-bottom: 45px;
}

.testimonials-modal {
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
}

.testimonials-message {
    display: flex;
    width: 300px;
    height: 180px;
    margin-right: 10px;
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 20px 0px rgba(44, 13, 53, 0.2);
}

.testimonials-modal .testimonials-message:last-child {
    background: linear-gradient(to left, transparent, #ffffff);
    opacity: 0.65;
}

.testimonials-modal .testimonials-message:last-child:hover {
    position: relative;
    right: 5px;
    background: linear-gradient(to left, transparent, #ffffff);
    opacity: 0.8;
    transition : opacity 250ms ease-in-out;
}

.testimonials-modal .testimonials-message:last-child .testimonials-message-content{
    opacity: 0.65;
}

.testimonials-modal .testimonials-message:last-child .testimonials-message-content:hover {
    opacity: 0.8;
    transition : opacity 250ms ease-in-out;
}

.testimonials-message img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 15px;
    transform: translateY(-10%);
}

.testimonials-message-content {
    width: 200px;
    height: auto;
    
}

.testimonials .message-name {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #212353;
}

.testimonials .message-work {
    margin-bottom: 10px;
    font-size: 11px;
    letter-spacing: 0.01em;
    color: #9C69E2;
}

.testimonials .message-desc {
    font-size: 12px;
}

.testimonials-modal-bottom {
    display: flex;
    margin: 0 15px 50px 15px;
    justify-content: space-between;
}

.testimonials-buttons img {
    margin-right: 5px;
}

.testimonials-arrows img:first-child {
    margin-right: 10px;
}


/* Footer Section */
.footer {
    padding-top: 50px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.footer-buttons {
    display: flex;
}

.footer-buttons .fill-button {
    background-color: #F063B8;
}

.footer-title {
    margin-bottom: 10px;
}

.footer-desc {
    margin-bottom: 20px;
}

.footer-logotext {
    display: flex;
    align-items: center;
}

.footer-logotext img {
    margin-right: 20px;
}

.footer-address {
    font-size: 16px;
    line-height: 1.125;
}






/* Desktop Responsive */
@media screen and (min-width:768px) {

    /* Reset CSS */

    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 18px;
    }

    .button-text {
        width: 152px;
        margin: 0 auto 0 0;
        font-size: 16px;
        background-size: 20px auto;
    
    }

    .fill-button {
        width: 170px;
        height: 60px;
        margin-bottom: 100px;
        padding-top: 16px;
        font-size: 18px;
    }

    .request-button {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: 29px;
        width: 210px;
        height: 60px;
        background-color: rgba(255,255,255,1);
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        border-radius: 200px;
    }


    /* Landing Section */
    .landing {
        padding-top: 0;
        height: auto;
        margin: 50px 0 100px;
    }

    .landing-banner {
        margin-bottom: 130px;
    }

    .landing-banner-text {
        font-size: 16px;
        margin-right: 40px;
    }

    .landing .request-button {
        display: flex;
    }


    .landing-content {
        align-items: flex-start;
        margin: 0;
    }

    .landing-title {
        width: 645px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .landing-desc {
        width: 380px;
        margin-bottom: 50px;
        text-align: left;
    }


    .banner-image {
        width: 50px;
        margin-right: 120px;
    }

    



    .landing-image{
        display: block;
        position: absolute;
        bottom: 0;
        left: 363px;
    }

    .landing-image img {
        height: auto;
        width: 100%;
    }

    /* Service Section */

    .service{
        padding: 0;
        margin-bottom: 150px;
        background-color: #ffffff;
    }
    
    .service .container{
        border-radius: 50px;
        background-color: rgba(240, 99, 184, 0.15);
    }
    
    
    .service-image img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 477px;
    }
    
    .service-content {
        width: 100%;
        padding : 0 77px 0 47px;
        text-align: left;
    }
    
    .service-title {
        margin-bottom: 40px;
    }


    /* Features Section */
    .features {
        padding: 0;
        margin-bottom: 150px;
    }
    
    .features-title {
        margin-bottom: 50px;
    }
    
    .features-desc {
        width: 584px;
        margin: 0 auto 100px;
    }

    .features-card {
        height: 360px;
        margin-bottom: 50px;
    }

    .features .col-md-6:nth-child(3) .features-card {
        margin-bottom: 0;
    }

    .features .col-md-6:last-child .features-card {
        margin-bottom: 0;
    }

    

    
    
    .features-card-content {
        padding: 0;
        height: 276px;
        border-radius: 0;
        background-color: #ffffff;
        margin-right: 50px;
    }

    .features .col-md-6:nth-child(2) .features-card-content {
        background-color: #ffffff;
    }
    
    .features .col-md-6:nth-child(3) .features-card-content {
        background-color:  #ffffff;
    }
    
    .features .col-md-6:last-child .features-card-content {
        background-color:  #ffffff;
    }
    
    .features-card img {
        position: static;
        transform: translateX(0);
        margin-right: 10px;
    }
    
    .features-card::before {
        content: "";
        position: absolute;
        right: 0;
        background-image: url(./assets/Rectangle01.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: contain;
        width: 442px;
        height: 358px;
        
    }

    .features .col-md-6:nth-child(2) .features-card::before{
        background-image: url(./assets/Rectangle02.svg);
    }

    .features .col-md-6:nth-child(3) .features-card::before{
        background-image: url(./assets/Rectangle03.svg);
    }

    .features .col-md-6:last-child .features-card::before{
        background-image: url(./assets/Rectangle04.svg);
    }
    
    .features-card-title {
        text-align: left;
        margin-bottom: 20px;
    }
    
    .features-card-desc {
        height: 160px;
        text-align: left;
        font-size: 14px;
        margin-bottom: 20px;
    }

    
    /* Testimonials Section */
    .testimonials .col-12{
        margin-bottom: 150px;
        padding-top: 109px;
        border-radius: 50px;
    }
    
    .testimonials-title {
        margin-left: 93px;
        margin-bottom: 88px;
    }
    
    .testimonials-modal {
        margin-left: 93px;
        margin-bottom: 60px;
    }
    
    .testimonials-message {
        width: 645px;
        height: 330px;
        margin-right: 20px;
        padding: 80px 0 0 70px;
    }
    
    .testimonials-modal .testimonials-message:last-child {
        opacity: 0.65;
    }
    
    .testimonials-modal .testimonials-message:last-child:hover {
        right: 10px;
    }
    
          
    .testimonials-message img{
        width: 90px;
        height: 90px;
        margin-right: 30px;
    }
    
    .testimonials-message-content {
        width: 385px;
        height: 200px;
        
    }
    
    .testimonials .message-name {
        font-size: 18px;
    }
    
    .testimonials .message-work {
        margin-bottom: 19px;
        font-size: 14px;
    }

    .testimonials .message-desc {
        font-size: 18px;
    }
    
    .testimonials-modal-bottom {
        margin: 0 76px 60px 93px;
    }
    
    .testimonials-buttons img {
        margin-right: 10px;
    }
    
    .testimonials-arrows img:first-child {
        margin-right: 20px;
    }


    /* Footer Section */
    footer {
        padding-top: 0;
    }

    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    
    .footer-buttons {
        justify-content: right;
        align-items: center;
    }
    
    .footer-buttons .fill-button {
        margin-right: 30px;
        margin-bottom: 0;
    }
    
    .footer-title {
        margin-bottom: 20px;
    }

    .footer-desc {
        margin-bottom: 0;
    }
    

}




/* Responsive Image */

@media screen and (min-width:1200px) {

/* Responsive Landing Image */
    .landing-image img {
        height: auto;
        width: 885px;
    }



/* Responsive Card Image */
    .features-card img {
        margin-right: 30px;
        width: 100%;
        height: auto;
    }

    .features-card-desc {
        font-size: 16px;
    }

}


