* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #212353
}

h2 {
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #212353
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #212353
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: #4B5D68
    letter-spacing: -0.01em;
}



.button-text {
    display: block;
    margin: 0 10px 0 auto;
    width: 100px;
    font-size: 12px;
    letter-spacing: -0.01em;
    font-weight: 700;
    background-image: url(./assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: right;

}



/* Landing Section */
.landing {
    padding-top: 10px;
    width: 100%;
    height: 100vh;
}

.landing-banner {
    display: flex;
    align-items: center;
}

.landing-banner-text {
    font-size: 14px;
    margin-right: 15px;
}

.landing-banner a:first-of-type {
    font-weight: 700;
}

.landing-banner a:last-of-type {
    margin-right: 0;
}

.banner-image {
    width: 25px;
    height: auto;
    margin-right: 15px;
}

.landing-request {
    display: none;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
}

.landing-title {
    text-align: center;
    margin-bottom:30px;
}

.landing-desc {
    text-align: center;
    margin-bottom: 30px;
}

.landing-button {
    display: block;
    width: 119px;
    height: 42px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    border-radius: 200px;
    background-color: #9C69E2;
}

.landing-image{
    display: none;
}

/* Service Section */
.service{
    padding: 100px 0;
    background-color: rgba(240, 99, 184, 0.15);
}


.service-image img {
    display: none;
}


.service-title {
    margin-bottom: 30px;
}



/* Features Section */
.features {
    padding: 80px 0;
}

.features-title {
    margin-bottom: 30px;
    text-align: center;
}

.features-desc {
    text-align: center;
    margin-bottom: 150px;
}




.features-card {
    display: flex;
    align-items: center;
    position: relative;
}

.features-card-content {
    padding: 75px 0 25px;
    border-radius: 25px;
    /* margin-right: 20px; */
    background-color: rgba(104,201,186,0.1)
    
}

.features-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
    /* margin-right: 10px; */
    width: 150px;
    height: auto;
}



.features-card-title {
    text-align: center;
    margin-bottom: 30px;
}

.features-card-desc {
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}



/* Desktop Responsive */
@media screen and (min-width:768px) {

    /* Reset CSS */

    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 18px;
    }

    .button-text {
        width: 152px;
        font-size: 16px;
        background-size: 20px auto;
    
    }


    /* Landing Section */
    .landing {
        padding-top: 0;
        height: auto;
        margin: 50px 0 100px;
    }

    .landing-banner {
        margin-bottom: 130px;
    }

    .landing-banner-text {
        font-size: 16px;
        margin-right: 40px;
    }

    .landing-request {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: 29px;
        width: 210px;
        height: 60px;
        background-color: rgba(255,255,255,1);
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        border-radius: 200px;
    }

    .landing-content {
        align-items: flex-start;
        margin: 0;
    }

    .landing-title {
        width: 645px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .landing-desc {
        width: 380px;
        margin-bottom: 50px;
        text-align: left;
    }


    .banner-image {
        width: 50px;
        margin-right: 120px;
    }

    .landing-button {
        display: block;
        width: 170px;
        height: 60px;
        margin-bottom: 100px;
        padding-top: 16px;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        border-radius: 200px;
        background-color: #9C69E2;
    }



    .landing-image{
        display: block;
        position: absolute;
        bottom: 0;
        left: 363px;
    }

    .landing-image img {
        height: auto;
        width: 100%;
    }

    /* Service Section */

    .service{
        padding: 0;
        margin-bottom: 150px;
        background-color: #ffffff;
    }
    
    .service .container{
        border-radius: 50px;
        background-color: rgba(240, 99, 184, 0.15);
    }
    
    
    .service-image img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 477px;
    }
    
    .service-content {
        width: 100%;
        padding : 0 77px 0 47px;
        text-align: left;
    }
    
    .service-title {
        margin-bottom: 40px;
    }


    /* Features Section */
    .features {
        padding: 0;
        margin-bottom: 150px;
    }
    
    .features-title {
        margin-bottom: 50px;
    }
    
    .features-desc {
        width: 584px;
        margin: 0 auto 100px;
    }

    .features-card {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .features-card-content {
        background-color: #ffffff;
        margin-right: 50px;
    }
    
    .features-card img {
        margin-right: 30px;
        width: 100%;
    }
    
    .features-card::before {
        content: "";
        position: absolute;
        right: 0;
        background-image: url(./assets/Rectangle01.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: contain;
        width: 442px;
        height: 358px;
        
    }
    
    .features-card-title {
        margin-bottom: 20px;
    }
    
    .features-card-desc {
        font-size: 16px;
        margin-bottom: 20px;
    }

    



}




/* Resposive Landing Image */

@media screen and (min-width:1200px) {
    .landing-image img {
        height: auto;
        width: 885px;
    }

}